* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --cor1: #c0beb7;
    --cor2: #b2b0a7;
    --cor3: #2a272c;
    --cor4: #e3e1e4;
    --cor5: #e3dfca;
    --cor6: #7f7c67;
    --cor7: #7a7788;
    --cor8: #5e5156;
    --cor9: #676549;
    --cor10: #8f8189;
    --cor11: #545c54;
}

body {
    background-color: var(--cor4);
}

/* NAVBAR */
.nav-bar {
    background-color: var(--cor3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*alinhar vertical(cima e baixo)*/
    padding: 15px 50px;
}

.nav-logo {
    width: 56px;
    border-radius: 50%;
}

.nav-ul {
    display: flex;
    list-style: none;
    /*tirar os pontinhos*/
    gap: 50px;
}

.nav-link {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    /*negrito*/
}


.cabecalho {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor3);
    background-image: url(../img/samurai3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lado {
    margin: 0 63% 6% 0;
}

.fs-1 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--cor3);
    text-shadow: 2.5px 2.5px 2.5px var(--cor5);
    border-bottom: solid var(--cor3) 2px;
}

.fs-2 {
    margin-top: 5px;
    text-align: right;
    font-size: 18px;
    line-height: .6;
}

.sec1 {
    margin: 0 auto;
    width: 80%;
    padding: 25px 0;
}

.h2-sec1 {
    text-transform: uppercase;
    font-size: 27px;
    border-left: var(--cor8) solid 4px;
    background-color: var(--cor2);
    padding: 13px;
    text-indent: 7px;
}

.h3-sec1 {
    text-align: end;
    font-size: 15px;
    font-style: italic;

}

.h4-sec1 {
    font-size: 24px;
    text-indent: 20px;
}

p {
    text-indent: 20px;
}

.sec2 {
    background-color: var(--cor2);
}

.sec2-titulo {
    text-align: center;
    padding: 2rem;
    font-size: 24px;
    text-transform: uppercase;
}


.cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card1,
.card2,
.card3 {
    border: #2a272c solid 1px;
    width: 31%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.card-texto {
    margin: 20px 8px;
    text-indent: 20px;
    font-size: 21px;
}

.card-btn {
    float: right;
    margin-right: 8px;
    margin-bottom: 10px;
}

.btn {
    padding: 6px 16px;
    color: var(--cor4);
    background-color: var(--cor3);
    border: none;
    border-radius: 7px;
}


.footer {
    background-color: var(--cor3);
    text-align: center;
    color: var(--cor4);
    padding: 35px;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 33px;
    margin-right: 4rem
}

@media (max-width: 780px) {
    .cabecalho {

        transition: .5s;
        background-position: 40%;
    }

    .lado {
        margin: 0 45% 6% 0;
    }

    .cards {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center left;
    }

    .card1,
    .card2,
    .card3 {
        width: 48%;
        margin-bottom: 20px;
    }


}

@media (max-width: 660px) {
    .cabecalho {
        transition: .5s;
        background-position: 50%;
    }

    .lado {
        margin: 0 auto;
    }

    .card1,
    .card2,
    .card3 {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 21px;

    }

    .footer ul{
        margin: 0 auto;
    }
}